.record
  background-color: #ffffff
  margin: 10px
  width: 440px
  height: 150px
  box-shadow: 1px 1px 3px #d1d1d1
  display: flex
  align-content: center
.img 
  background-image: url("../img/logo.png")
  height: 100px
  width: 100px
  margin: 25px 5px
  background-size: contain
  background-repeat: no-repeat
  background-position: center
.content 
  width: 335px
  height: 140px
  margin: 5px
  display: block
.label
  text-align: justify
  top: 5px
  margin-bottom: 10px
.media 
  display: inline
.like-icon 
  display: inline-block
  width: 20px
  height: 20px
  background-image: url("../img/like.png")
  background-size: contain
  background-repeat: no-repeat
  background-position: center
.comment-icon 
  display: inline-block
  width: 20px
  height: 20px
  background-image: url("../img/comment.png")
  background-size: contain
  background-repeat: no-repeat
  background-position: center
.view-icon 
  display: inline-block
  width: 20px
  height: 20px
  background-image: url("../img/view.png")
  background-size: contain
  background-repeat: no-repeat
  background-position: center